:root {
    --color-main: #efe0e0;
    --color-header: #0f0f0f;
    --color-backText: #efe0e0;
    --color-frontText: #787070;
}

@media(prefers-color-scheme:dark) {
    :root {
        --color-main: #202020;
        --color-header: #8ff1e1;
        --color-backText: #266050;
        --color-frontText: #6aa191;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-main);
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 50px;
    background-color: var(--color-header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15%;
    position: fixed;
    top: -10px;
    box-shadow: 0 0 5px var(--color-header),
                0 0 10px var(--color-header);
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: var(--color-main);
    padding: 5px;
    border-radius: 15%;
    position: relative;
    top: 5px;
    overflow: hidden;
    display: inline-block;
}

header a:hover {
    color: var(--color-header);
    background-color: var(--color-backText);
    box-shadow: 0 0 5px var(--color-backText),
                0 0 10px var(--color-backText),
                0 0 20px var(--color-backText);
    text-shadow: 0 0 5px var(--color-hearder),
                 0 0 10px var(--color-header),
                 0 0 20px var(--color-header);
    transition: 0.5s;
    transition-delay: 1.75s;
}

header a#connect {
    border-radius: 25%;
    color: var(--color-header);
    background-color: var(--color-main);
    transition-delay: 0s;
    transition: 0.5s;
}

header a#connect:hover {
    border-radius: 15%;
}

.box {
    color: var(--color-frontText);
    text-shadow: 0 0 5px var(--color-frontText),
                 0 0 10px var(--color-frontText);
    padding: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

#boxIdentifiant, #boxProfile {
    color: var(--color-frontText);
    text-shadow: 0 0 5px var(--color-frontText),
                 0 0 10px var(--color-frontText);
    padding: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#boxProfile #username, #titleqcm {
    font-size: 75px;
    color: var(--color-header);
    text-shadow: 0 0 5px var(--color-frontText),
                 0 0 10px var(--color-frontText),
                 0 0 25px var(--color-frontText);
}

#boxResult {
    color: var(--color-frontText);
    text-shadow: 0 0 5px var(--color-frontText),
                 0 0 10px var(--color-frontText);
    padding: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titlequest {
    font-size: 60px;
    filter: hue-rotate(60deg);
    text-shadow: 0 0 5px var(--color-frontText),
                 0 0 10px var(--color-frontText);
}

.titlequestV {
    font-size: 30px;
    filter: hue-rotate(60deg);
    text-shadow: 0 0 5px var(--color-frontText),
                 0 0 10px var(--color-frontText);
}

table {
    border-collapse: collapse;
}

th, td {
    border: 3px solid var(--color-backText);
    padding: 10px;
}